.container, .container1 {
    max-width: 3860px;
    margin: 0 auto;
    padding: 0 15px;
}
.paddingLeft0 {
    padding-left: 0px;
}

.paddingRight0 {
    padding-right: 0px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.top15 {
    margin-top: 15px;
}

.right15 {
    margin-right: 15px;
}

.left15 {
    margin-left: 15px;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-25 {
    padding: 25px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-35 {
    padding: 35px !important;
}

.padding-40 {
    padding: 40px !important;
}
.padding-80 {
    padding: 80px !important;
}

.padding-horizontal-5 {
    padding: 0 5px !important;
}

.padding-horizontal-10 {
    padding: 0 10px !important;
}

.padding-horizontal-15 {
    padding: 0 15px !important;
}

.padding-horizontal-20 {
    padding: 0 20px !important;
}

.padding-vertical-10 {
    padding: 10px 0 !important;
}

.padding-vertical-15 {
    padding: 15px 0 !important;
}

.padding-vertical-20 {
    padding: 20px 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-45 {
    padding-bottom: 45px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-35 {
    padding-top: 35px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-45 {
    padding-top: 45px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-top-65 {
    padding-top: 65px !important;
}
.padding-top-80 {
    padding-top: 80px !important;
}
.padding-top-82 {
    padding-top: 82px !important;
}
.padding-top-85 {
    padding-top: 85px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}
.padding-left-28 {
    padding-left: 28px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}
.padding-right-26 {
    padding-right: 26px !important;
}
.padding-right-28 {
    padding-right: 28px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 5em !important; 
}

.margin-right-0 {
    margin-right: 0px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline {
    display: inline;
}

.block {
    display: block !important;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.inline-block {
    display: inline-block !important;
}

.no-display {
    display: none !important;
}

.display-table {
    display: table !important;
}

.display-table-cell {
    display: table-cell !important;
}
.list-none {
    list-style: none;
}
.list-inside {
    list-style-position: inside;
}
.app-color1, .app-color1:hover {
    color: #212121 !important;
}
.app-color2, .app-color2:hover {
    color: #707070 !important;
}
.app-color3, .app-color3:hover {
    color: #D91E25 !important;
}
.app-color4, .app-color4:hover {
    color: #4D4D4D !important;
}
.app-color5, .app-color5:hover {
    color: #EEEEEE !important;
}
.app-btn1 {
    background: #D91E25;
    color: #EEEEEE;
}
.app-btn1:hover, .app-btn1:focus {
    color: #EEEEEE;    
}
.app-btn2 {
    background: #C5C5C5;
    color: #212121;
}
.app-btn2:hover, .app-btn2:focus {
    color: #212121;
}
.app-btn3 {
    color: white;
    background-color: #bd252a;        
}
.app-btn3:hover, .app-btn3:focus {
    background: #C5C5C5;
    color: #212121;
}
.app-btn4 {
    background: #C5C5C5;
    color: #212121;
}
.app-btn4:hover, .app-btn4:focus {
    color: white;
    background-color: #D91E25;    
}
.app-btn4:hover span, .app-btn4:focus span {
    color: white;
}
.app-btn {
    border-radius: 4px;
    padding: 7px 10px;
}
.filter-btn {
    margin-left: 18px;
}
.app-btn-big {
    padding: 7px 35px;
}
.filter_popup_dialog .app-btn-big {
    padding: 15px;
    text-align: left;
    width: 200px;
}
.w-65 {
    width: 65% !important;
}
section {
  float: left;
  width: 100%;
}
a.see-more {
    font-size: 0.875em;
    color: #D41E52;
    margin-right: 108px;
    margin-top: 8px;
    text-decoration: none;
}
a.see-more:hover {
    color: #D41E52;
    text-decoration: none;
}
.heading_title_color,#heading_title_color{
    display: inline-block;
    font-family: 'condensed-semibold';
    /*-webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;*/
}

.detail_bg{
    background-color: #eeeeee;
}
.head_margin{
     margin-top: 50px;
}
.modal-open {
    overflow: hidden;
    position: fixed;
}
.relative-content {
    position: relative;
}
.center-align-content {
    display: -webkit-flex;
    justify-content: center;
}
.app-d-flex {
    display: -webkit-flex;
}
.h-center {
    justify-content: center;
}
.v-center {
    align-items: center;
}
.hv-center {
    align-items: center;
    justify-content: center;
}
#watch_list_delete_toast .center-align-content, #continue_watch_delete_toast .center-align-content {
    align-items: flex-end;
    min-height: 350px;
}
#watch_list_delete_toast .less_height_box, #continue_watch_delete_toast .less_height_box {
    min-height: 80px;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-control.material-switch, .cursor-pointer {
    cursor: pointer;
}
.txt-success {
    color: #8dc63f;
}
.txt-failure {
    color: #ff0000;
}
.rounded {
    border-radius: 4px!important;
}
.item img.rounded {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.font-size1 {
    font-size: 16px;
}
.font-size2 {
    font-size: 14px;
}
.font-size3 {
    font-size: 12px;
}
.font-size4 {
    font-size: 18px;
}
.font-size5 {
    font-size: 20px;
}
.font-size6 {
    font-size: 24px !important;
}
.font-size7 {
    font-size: 17px;
}
.carousel-title {
    font-size: 25px;
}
.horizontal_title.rounded img.rounded, .square_big_title.rounded img.rounded {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;   
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.content-separator {
    background: linear-gradient(-180deg, rgba(0,0,0,0.15) 3%, rgba(0,0,0,0.1) 10%, rgba(255,255,255,1) 100%);
    /*topbar - opacity 15% distaqcce 5px spread 0 size 10px angle 90%*/
    display: none;
    height: 14px;
}
/*.focusable:focus, a:focus {
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    transform: scale(1.07);
}*/
.slick-track article.focusable:focus {
    border: 3px solid #e9b229;    
}
a.no-shadow.focusable:focus {
    box-shadow: none;
}
a.no-shadow-left.focusable:focus, #logotab.focusable:focus, .no-shadow-bottom:focus {
    box-shadow: none;
}
.exclusive-item .focusable:focus, .exclusive-item a:focus {
    transform: scale(1.053);
}
.plan-box-body a:focus {
    background: #E14A00;
    color: #fff;
}
.search-box-wrap .focusable:focus {
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    transform: scale(1.02);
}
.remove_watchlist:focus {
    box-shadow: none;
    transform: scale(1.2);    
}
#banner-carousel .focusable:focus, #banner-carousel a:focus, .etv_catalog_banner a:focus {
    transform: scale(1.015);    
}
.yt_overlay .focusable:focus {
    box-shadow: none;
    transform: scale(1);        
}
.container2{
    max-width: 1860px;
    margin: 0 auto;
}
.logout_col4_bg{
    background-color: #eeeeee; 
    height: 100vh;
}
.app-btn6{
    width: 30vw;
    height: 10vh; 
    background-color: #636363; 
    color: #fdf2f6; 
    border-image: none !important;
}
.app-btn6:hover, .app-btn6:focus {
    background-color: #e2270d;
    color: white;
}
.app-btn7:hover, .app-btn7:focus {
    background-color: #e2270d;
    color: white;
}
.app-btn7{
    width: 30vw;
     height: 10vh; 
     background-color: #636363;  
     color: #fdf2f6; 
     border-image: none !important;
}
@media(min-width: 1600px) {
    .filter_popup_dialog {
        width: 1500px;
    }
}
.no_item{
    margin-left: 20%; 
    margin-top: 20%;
}
.mlr_2{
    margin-left: 2%;
     margin-right: 2%;
}