html, body {
    font-family: 'Roboto';
}

p {
    font-size: 18px;
}


/* Ulils */
.mt-150 {
    margin-top: 150px;
}

.detail_col_1 {
    margin-left: 50px;
}

.detailspage-center-content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
}

.detail-bg {
    background: url('https://images.tfhy.in/39/1968/banners/1968_web_banner_1600_900_202101091126.png');
    background-size: cover;
    background-position: center center;
}

.detail-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(18, 27, 61) 20%, rgba(0, 0, 0, 0) 100%);
}

#moviesectionbox {
    color: #FFF;
}

#moviesectionbox h1,
#moviesectionbox h2,
#moviesectionbox h3 {
    color: #FFF;
}

#moviesectionbox h1 {
    font-size: 48px;
}

#moviesectionbox .details-meta {
    display: flex;
    flex-direction: column;
}

.details-meta .details-time-quality {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.details-meta .details-time,
.details-meta .details-quality {
    margin: 10px 0;
}

.details-quality ul.quality-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.details-quality ul.quality-items > li.quality-item {
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0px 6px;
    border-radius: 0px;
    margin: 0 5px;
}

.details-quality ul.quality-items > li.quality-item:first-child {
    margin-left: 0;
}

.details-quality ul.quality-items > li.quality-item:last-child {
    margin-right: 0;
}

.btn {
    width: 300px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
}

.btn.btn-color {
    background: transparent;
    color: #FFF;
}

.btn.btn-color.blue {
    background: #018EFF;
    margin-right: 20px;
    border: 2px solid transparent;
    transition: all 0.1s linear;
}

.btn.btn-color.blue:hover,
.btn.btn-color.blue:focus {
    border: 2px solid rgba(255, 255, 255, 0.85);
    background: #0079DB;
}

.btn.btn-color.blue:last-child {
    margin-right: 0;
}

@media(max-width: 1600px) {
    .detail_col_1 {
        margin-left: 30px;
    }
    #moviesectionbox h1 {
        font-size: 32px;
    }
}