/* Font integration */
@font-face {
  font-family: 'lato-thin';
  src: url('fonts/Lato-Thin.ttf');    
}
@font-face {
  font-family: 'lato-regular';
  src: url('fonts/Lato-Regular.ttf');    
}
@font-face {
  font-family: 'lato-semibold';
  src: url('fonts/Lato-Semibold.ttf');
}
@font-face {
  font-family: 'lato-bold';
  src: url('fonts/Lato-Bold.ttf');
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
button.owl-prev.disabled,button.owl-next.disabled{
  opacity: 0.5; 
  cursor: default !important;
}
button.owl-prev.disabled:hover,button.owl-next.disabled{
  opacity: 0.5 !important;
}
::placeholder {
  color: #e2e2e2;
  font-family: 'lato-regular';
  opacity: 1;  
}
.otp-verification-page ::placeholder {
  font-size: 1em;
}
a, a:hover, a.link {
  color: #0096da;
  text-decoration: none;
}
*:focus {
    outline: none;
}
input:invalid, textarea:invalid, select:invalid {
  border: none;
  box-shadow: none;
}
.input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.form-control:focus {
  border: 0px;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: none;
  z-index: 0;
}
.font-semibold {
  font-family: 'lato-semibold'!important; 
  font-weight: 400;
}
.font-regular {
  font-family: 'lato-regular'!important; 
}
.font-bold {
  font-family: 'lato-bold'!important; 
  font-weight: 400;
}
.font-thin {
  font-family: 'lato-thin'!important; 
}
.mobile_view_screen, .mobile-show {
  display: none;
}
/* Header Design Starts */

body {
  background-color: #110D36;
  float: left;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: 16px;
  margin: 0;  
  width: 100%;
}
.wrapper {
  background-color: #110D36;
  float: left;
  width: 100%;  
}
.inside-wrapper {
  background-color: #110D36;
  float: left;
  min-height: 100%;
  width: 100%;
}
#upperbox .header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.header-section img {
  float: left;
  width: 24px;
}
section.header-section {
  width: 100%;
  z-index: 111;  
}
.header-left {
  padding: 15px 0px;
}
.main-menu {
  padding: 0px 0px 0px 0px;
  width: calc(100% - 30px);
}
/*.main-menu ul {
  padding-left: 9%;
}*/
.main-menu ul li {
  float: left;
  margin: 0px 13px;  
}
.main-menu ul li:first-child {
  margin-left: 0px;
}
.main-menu ul li:last-child {
  margin-right: 0px;
}
.main-menu ul li a {
  color: #eee;
  font-size: 20px;      
  font-weight: 600;
  padding: 3px 8px 3px;  
}

.main-menu ul li li a {
  margin-left: 5px;
  width: 92%;
}

.main-menu ul li ul li {
  margin-left: 0px;
}
.main-menu ul li:hover ul.child-menu, .main-menu ul li:focus ul.child-menu {
  display: block;
}
.main-menu ul li a.active {
  border-radius: 20px;
  color: #fff;
}
.main-menu ul li a.active {
  /*font-family: 'lato-semibold';*/
  position: relative;
  border-radius: 20px;
  box-shadow: none;
  color: #e9b229 !important;  
}
.main-menu ul li a.active:focus  {
  color: #e9b229 !important;    
}
.main-menu ul li a:focus  {
  border-radius: 20px;
  box-shadow: none;
  color: #e9b229 !important;
}
.main-menu .fa-search {
  font-size: 22px;
}
.head-right {
  align-items: center;
  display: -webkit-flex;
  height: 100%;
}
.head-right ul {
  list-style: none;
  align-items: center;
  display: -webkit-flex;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0;
  padding: 7px 0px;
}
.head-right ul li {
  cursor: pointer;
  float: left;
  padding: 0px 15px;
  z-index: 111;
}
.head-right ul li img {
  border-radius: 17px;
  width: 34px;
}
.head-right ul li a:focus, .head-right ul li a.active:focus {
  border-bottom: 2px solid #FFD224;
  transform: scale(1.2) !important;
}
.head-right ul li.wo_login a.login:focus {
  background: #bd252a;
  color: #fff;
}
.head-right .custom-gradient .radius-button {
  padding: 6px 5px 8px;
}
.head-right ul li.with_out_login_item img {
  cursor: pointer;
  width: 20px;
}
.head-right ul li.with_login_item img {
  cursor: pointer;
  width: 48px;
}
.head-right ul li.with_login_item {

  padding: 0px 25px 0px 7px;
}
.head-right ul li span {
  color: #666;
  cursor: pointer;
  font-size: 0.75em;
}
.head-right ul li.with_login_item span {
  color: #fff;
}
/* Header Design Ends */

/* Hamberg menu design starts */
.noscroll {
  overflow: hidden;
  position: fixed;
}

/* Hamberg menu design ends */


/* Main slider design starts */
.banner-section {
  padding-top: 100px;
}
/*#banner-carousel .owl-item {
  opacity: .45;
}*/
#banner-carousel .owl-item.active {
  opacity: 1;
}
#banner-carousel.owl-theme .owl-nav {
  position: absolute;
  top: 44%;
  width: 100%;
}
#banner-carousel .owl-item .item {
  margin-bottom: 10px;
}
#banner-carousel.owl-carousel .owl-nav button.owl-prev, #banner-carousel.owl-carousel .owl-nav button.owl-next {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  border: none;
  outline:none;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: none;
  color: transparent;
  text-decoration: none; 
}
#banner-carousel.owl-carousel .owl-nav button.owl-prev img, #banner-carousel.owl-carousel .owl-nav button.owl-next img {
  height: 23px;
  width: 14px;
}
#banner-carousel.owl-carousel .owl-nav button.owl-prev {
  left: 1.5%;
}
#banner-carousel.owl-carousel .owl-nav button.owl-next {
  right: 1.5%;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  background: #D1D1D1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #E20101;
}
.owl-carousel .owl-item .item a, .boxslide-wrap .item a {
  background: #E5E5E5;
  pointer-events: none;
  position: relative;
  cursor: default;
  float: left;
  width: 100%;
}
.owl-carousel .owl-item.active .item a {
  background: #E5E5E5;
  pointer-events: auto;
  cursor: pointer;
}
.thumb-slide-wrap {
  overflow: hidden;
  display: block;
  width: 100%;  
  white-space: nowrap;
  padding: 10px 10px;
}
.boxslide-wrap {
  display: inline-block;
  margin-right: 12px;
  position: relative;
}
.boxslide-wrap.horizontal_layout, .boxslide-wrap.event_layout {  
  width: 17.7%;
}
.boxslide-wrap.vertical_layout {  
  width: 15%;
}
.boxslide-wrap.exclusive_layout {  
  width: 25%;
}
.boxslide-wrap:last-child {
  margin-right: 0;
}
.boxslide-wrap img {
  width: 100%;
}
#banner-carousel .banner-title {
  position: absolute;
  bottom: 42px;
  left: 105px;
  font-size: 42px;
  color: #fff;
  text-align: left;
  width: calc(100% - 120px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.banner-channel {
  position: absolute;
  bottom: 10px;
  left: 105px;
  font-size: 30px;
  color: #fff;
  text-align: left;
  width: calc(100% - 120px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#middlebox {
  position: relative;
  /*background-color: #ccc;*/
  /*padding-top: 100px;*/
  padding-top: 5px;
  height: calc(100vh - 100px);
  padding-bottom: 0px;
  overflow: hidden;  
}
#middlebox.see_all_page {
  height: calc(100vh - 93px);
  padding-bottom: 0px;
  /* overflow: hidden; */
}
#moviesectionbox {
  position: relative;
  /*background-color: #ccc;*/
  /*padding-top: 100px;*/
  padding-top: 5px;  
  height: calc(100vh - 50px);
  padding-bottom: 0px;
  overflow: hidden;
}
.video_percentage {    
  background: #CCCCCC;
  border-radius: 12px;
  height: 4px;
  width: 100%;
}
.video_percentage span {
  background: #DC354B;
  border-radius: 12px 0px 0px 12px;
  float: left;
  height: 4px;
  max-width: 100%;
}
.slicks-container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.mb-gap {
  margin-bottom: 88px;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container {
  position: relative;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container:hover {
  z-index: 2;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container .slick-slider {
  margin-bottom: 0px;
  /*margin-left: -5px;*/
  visibility: hidden;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container .slick-slider.slick-initialized {
  visibility: visible;
  /*margin: 0px -30px;*/
}

.slick-initialized .slick-slide {
  display: inline-block;
  padding-bottom: 0px;
  margin-right: 5px;
  position: relative;
}
.search-page .slick-initialized .slick-slide {
  margin-right: 20px;
}
.banner-slider .owl-item .item {
  border-radius: 10px;
  position: relative;
}
.banner-slider .owl-item .item img {
  border-radius: 10px;
}
#banner-carousel .owl-item {
  opacity: 0.45;
}
#banner-carousel .owl-item.active {
  opacity: 1;
}
.slick-initialized .slick-active:before, .slick-initialized .slick-active:after,
.owl-carousel .owl-item.active .item:after, .owl-carousel .owl-item.active .item:before {
  content: "";
  display: none;
}
.slick-wrapper .slick-list.draggable {
  overflow: visible;
  margin-left: 5px;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  padding: 0px 10px 0px 0px;
}
.slick-initialized article, .vertical-listing-thumb article, .horizontal-listing-thumb article, .item-exp {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50); /* I added this style */
  width: inherit;
  /*overflow: hidden;*/
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0px;
  -webkit-transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -webkit-transition: -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: -o-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -o-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
}

.slick-initialized article.expand.slick-vertical-thumb, article.expand.slick-horizontal-thumb {  
  z-index: 4;
}
.item-exp{ box-shadow: 0 0 black; }
.expand {  
  z-index: 4;
}
.slick-initialized article.expand .details, .expand {
  opacity: 0.99;
}
.slick-initialized article .thumbnail-container {
  position: relative;
}
.slick-vertical-thumb .card-img-container {
  padding-bottom: calc(1.5 * 100%);
}
.horizontal .slick-vertical-thumb .card-img-container, .horizontal-listing-thumb .slick-vertical-thumb .card-img-container {
  padding-bottom: calc(0.565 * 100%);
}
.slick-initialized article .card-img-container {
  position: relative;
}
.slick-list {
  overflow: visible;
}
.slick-track {
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  display: inline-block;
  width: 18%;
}
.slick-area .slick-track {  
  min-width: 100%;
  display: block;
  overflow: hidden;
  /*padding: 10px 30px;*/
  padding: 5px 0px;
  white-space: nowrap
}
.app-slick-container a.more {
  font-family: muli-regular;
  font-size: 20px;
  color: #0095DB;
  letter-spacing: -0.12px;
  text-align: right;
}
.lazy-img-loader.loaded {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
}
.slider img {
  width: 100%;
}
.slick-initialized article .card-img-container img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  display: inline-block;
}

.ellipsize {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
.slicks-container {
  max-width: calc(100vw - 33px);  
}

.continue-thumb-details .sub-info {
  width: calc(100% - 40px);
}

/* Main slider design ends */

.full-width-content {
  max-width: 100%;
  padding-bottom: 10px;
}
.inside-container {
  padding: 0 7%;
}
.thumb_wrapper {
  float: left;
  /*margin-left: -30px; 
  width: calc(100% + 30px);*/
}
.detail-bg .thumb_wrapper {
  margin-left: -30px; 
  width: calc(100% + 30px);  
}
.full-width-content h2, .onboarding-contianer h2, .onboarding-payment-contianer h2, .payment-contianer h2, .static-container h2, .transation_status_page h2 {
  color: #000000;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 13px!important;
}
.page-title {
  color: #000000;
  font-size: 1.5em;
  line-height: 1.25em;
}
.full-width-content h2.carousel-title {
  margin-bottom: 5px !important;
  padding-left: 18px;
}
.detail-bg .full-width-content h2.carousel-title {
  padding-left: 38px;  
}
.full-width-content .owl-carousel, .detail-bottom-section .owl-carousel {
  margin-bottom: 10px;  
  /*margin-left: 7px;
  width: calc(100% - 7px);*/
  width: 100%;

}

#banner-carousel {
  margin-bottom: 5px;
  /*margin-left: 30px;*/
}
#banner-carousel .owl-stage-outer, .etv_catalog_banner .owl-stage-outer {
  /*margin: -10px -10px;*/
  padding: 10px 10px 20px;    
  width: calc(100% + 0px);
}
#banner-carousel .item img.rounded, .etv_catalog_banner .item img.rounded {
  border-radius: 4px !important;
}
#banner-carousel .banner-carousel {
  margin-left: 10px;
  width: calc(100% - 10px);
}
.thumb-carousel .owl-stage-outer {
  /*margin: 0px -8px;  
  padding: 10px;
  width: calc(100% + 8px);*/  
  padding: 10px 0px;  
}
.thumb-carousel .owl-item.active .item a {
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.text_left{
  float: left !important;
  margin-left: 15px;
}
/*.exclusive-tag {
  background: #D81D24;
  border-radius: 16px;
  color: #fff;
  font-size: 12px;
  padding: 7px 13px 6px;
  position: absolute;
  right: 15px;
  top: 15px;
}*/
/*#banner-carousel .owl-stage {
  left: 0px;
} */
.gradient-overlay {
  background: rgba(0,0,0,.1);
  background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4),rgba(0,0,0,.7),rgba(0,0,0,.7));
  background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4),rgba(0,0,0,.7),rgba(0,0,0,.7));
  background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4),rgba(0,0,0,.7),rgba(0,0,0,.7));
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4),rgba(0,0,0,.7),rgba(0,0,0,.7));
  height: 35%;
  position: absolute;
  bottom: 0px;
  border-radius: 4px;
  width: 100%;
}
#banner-carousel .focusable:focus .gradient-overlay, #banner-carousel a:focus .gradient-overlay {
  bottom: 0px;
}
.carousel-caption {
    position: absolute;
    bottom: 20px;
    padding-bottom: 30px;
    left: 30px;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-play-btn {
    height: 80px;
    width: 80px !important;
    float: left;
    margin-right: 20px;
}
/*.etv_catalog_banner .owl-stage {
  left: 0px;
}*/
.thumb-carousel .owl-stage {
  left: -50px;
}

/*.thumb-carousel .owl-stage.leftpos_change {
  left: 10px;
}*/
.show_catalog_item_channel_logo {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.full-width-content #continue-watching-carousel .item img:first-child, .full-width-content #best-carousel .item img:first-child {
  color: #fff;
  left: 44%;
  position: absolute;
  top: 29%;
  width: 32px;  
}
.full-width-content .owl-nav button.owl-prev img, .full-width-content .owl-nav button.owl-next img {
  margin-top: -2px;
  width: 41px;
    
}
.full-width-content .owl-nav button.owl-prev {
  border-radius: 5px 0px 0px 5px;
  left: 20px;
}
.full-width-content .owl-nav button.owl-next {
  border-radius: 0px 5px 5px 0px;
  right: 20px;
}
.full-width-content .etv_catalog_banner .owl-nav button.owl-next {
  right: 25px;
}
.full-width-content .owl-nav {
  position: absolute;
  top: 37%;
  width: 100%;
}
.full-width-content .vertical-image .owl-nav { 
  top: 42%;
}
.full-width-content .owl-nav button.owl-prev, .full-width-content .owl-nav button.owl-next {
  /*background: #000;*/
  color: #fff;
  height: 42px;
  margin: 5px;
  /*opacity: 0.75;*/
  position: absolute;
  border: none;
  outline:none;
  width: 42px;
}
.full-width-content .owl-nav button.owl-prev:hover, .full-width-content .owl-nav button.owl-next:hover {
  background: #000;
  opacity: 1;
}
.full-width-content h2.margin-bottom-15 {
  margin-bottom: -18px;  
}
.banner-section .owl-carousel .owl-item {
  opacity: 0;
  transition: opacity 500ms;
}
/*.owl-item.active:first-child {
  margin-right: 0px !important;
  width: 1px !important;
}
.owl-item.active:last-child {
  margin-right: 0px !important;
  width: 1px !important;
}*/
.owl-carousel .owl-item .item, .list_items, .boxslide-wrap .item {
  background: #E5E5E5;
  float: left;
  /*min-height: 236px;*/
  width: 100%;  
  /*border: 1px solid transparent;*/
}
/*.owl-carousel .owl-item .exclusive-item .carousel-meta, .list_items.exclusive-item {
  background: #D81D24;
}
.owl-carousel .owl-item .exclusive-item .carousel-meta p {
  color: #fff !important;
}
.owl-carousel .owl-item .exclusive-item .carousel-meta p span.app-color3 {
  color: #FBBE23 !important;
}*/
.thumb-slide-outer {
  float: left;
  padding-left: 10px;
  width: 100%;
}
#list_content {
  margin: 0px -6px;
  padding-bottom: 20px;
  width: calc(100% + 12px) !important;
}
.list_items {
  /*display: inline-block;
  float: none;*/
  display: block; /* search page some thumbnail is breaking */
  margin: 0px 6px;
  position: relative;
  width: 19%;
}
.list-row {
  margin: 0px -8px;
  padding: 10px;
  width: calc(100% + 8px);
}
.category_wrap {  
  overflow-x: auto;
  white-space: nowrap;
}
.see_all_page .list_items {
  display: inline-block;
  /*float: none;*/
}
.list_items.vertical {
  /*width: 15.975%;*/  
  width: 19.3%;
}
.thumb-carousel .owl-item .item, .list_items, .boxslide-wrap .item {
  border-radius: 4px;
  margin-bottom: 10px;  
}
.list_items {
  margin-bottom: 12px;  
}
.list_items img {
  max-width: 100%;
  height: auto;
}
.list_items.vertical img {
  width: 100%;
}
.thumb-carousel .owl-item .see-all a, .boxslide-wrap .see-all a {
  align-items: center;
  background: linear-gradient(45deg, #E8787C, #FDEE66) !important;
  border-radius: 4px;
  float: left;
  display: -webkit-flex;    
  justify-content: center;  
  position: relative;
  height: 100%;
  width: 100%;
}
.thumb-carousel .owl-item .see-all a img, .boxslide-wrap .see-all a img {
  display: inline-block;
  /*position: absolute;
  left: calc(50% - 37px);
  top: calc(50% - 60px);*/
  width: 75px;
}
.thumb-layer3 {
  bottom: 87px;
  position: absolute;
  width: 100%;
}
.thumb-carousel .owl-item .item a:focus .thumb-layer3, .boxslide-wrap .item a:focus .thumb-layer3 {
  bottom: 76px;
}
.small-play-btn {
  float: left;
  height: 30px;
  margin-left: 12px;
  position: relative;
  top: -2px;
  width: 30px !important;
}
.thumb-duration-string {  
  color: rgba(255,208,69,1);
  background: rgba(0,0,0,.6);
  border-radius: 12px 0 0 12px;
  float: right;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding: 2px 10px;
}
.carousel-meta {
  background: #E5E5E5;
  padding: 10px 12px;
}
.meta-title {
  margin-bottom: 5px;  
}
.thumb-channel-title {
  margin-left: 12px;
}
.item-feature {
  float: left;
  padding: 7px 5px 5px 10px; 
  width: 100%;
}
.item-feature p {
  color: #2a2a2a;
  float: left;
  font-size: 0.875em;
  margin-bottom: 5px;
  width: 100%;
}
.item-feature a{
  color: #2a2a2a;
}
.item-feature span.pull-left {
  color: #838383;
  float: left;
  font-size: 0.75em;
}
.item-feature span.pull-right {
  margin-top: 4px;
}
.item-feature span.pull-right img {
  position: static!important;
  width: 11px!important;
  cursor: pointer;
}
#continue-watching-carousel .item-feature {
  bottom: 0px;
  position: absolute;
}
#continue-watching-carousel .progress {
  position: absolute;
  bottom: 50px;
} 
/*.item-feature span.pull-right .fa {
  color: #A1A1A1;
  margin-top: 3px;
}*/
/* progress bar design starts */

.progress {
  border-radius: 0rem;
  background: rgba(0,0,0,0.8);
  height: 0.3rem;
}
.progress-bar {
  background-color: #FE0000;
}
/* progress bar design ends */

/* Movie and Show listing page design starts */
/*.row-movie-list, .row-show-list {
  margin: 0px -7px;
}  */
.row-movie-list .item, .row-show-list .item {
  /*box-shadow: 1px 1px 4px 1px rgba(0,0,0, 0.25);*/
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0px 15px 30px;
  position: relative;  
}
.row-movie-list .item {
  width: 14%;
}  
.row-show-list .item {
  width: 17.25%;
}
.row-movie-list .item:hover, .row-show-list .item:hover {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0, 0.35);
}
.row-show-list .item img.rounded {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
span.premium-txt, span.playingnow-txt {
  border-radius: 3px 0px 3px 0px;
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.45);
  color: #fff;
  font-size: 0.75em;
  left: 0;
  line-height: 0.75em;
  padding: 5px;
  position: absolute;
  top: 0;
}
span.premium-txt {
  background: #89C43F;
}
span.playingnow-txt {
  background: #0096DB;
}
.owl-carousel .owl-item span.playing-next img, .owl-carousel .owl-item span.upcoming img {
  width: 22px;
}
span.playing-next, span.upcoming {
  align-items: center;    
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 0.75em;
  display: -webkit-flex;
  height: calc(100% - 30px);
  justify-content: center;
  position: absolute;
  width: 100%;  
}
.row-show-list .item span.list-tile-title, .owl-item span.list-tile-title {
  color: #000;
  font-size: 0.875em;
  float: left;
  margin: 5px 0px 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 93%;
}
.owl-item span.list-tile-title  {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
  font-size: 0.875em;
  margin: 0px;
  padding: 4px 0px 5px 12px;
  position: absolute;
  width: 100%;
}

.row-movie-list .item a, .row-movie-list .item img, .row-show-list .item a, .row-show-list .item img {
  float: left;
  width: 100%;
}
.row-movie-list .item-feature a, .row-show-list .item-feature a {
  width: calc(100% - 16px);
}

/* Movie and Show listing page design ends */

/* Plans page design starts */
.btn {
  border-image: linear-gradient(to right, #D51E54 0%, #F15A23 100%);
  border-image-slice: 1;
  border-width: 1px;
  padding: 5px 10px;
}

.no_content_plans img.status_image {
  width: 166px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal p {
  color: #666;
  font-size: 1em;
  font-family: 'lato-regular';
}
.modal-dialog {
  max-width: 462px;
  margin: 8.75rem auto 2em;
}
#logout-pop .modal-dialog, #delete_prof .modal_dialog {
  max-width: 340px;
}

/* Plans page design ends */

/* Movei/Show Detail page design starts */
.detail-bg {
/*  background-image: url('https://daex9l847wg3n.cloudfront.net/shemoutputimages/The-Dancing-God---Shiva---Hindi/5bb5fba9a609d2d1370000d1/xl_image_16_9.jpg?1552557906');
*/  /*background-image: url('https://daex9l847wg3n.cloudfront.net/shemoutputimages/Baatein-Kahi-Ankahi/5b8ea573a609d22bff00000c/xl_image_16_9.jpg?1564761503')*/
  background-size: 100%;
  height: 100vh;
  width: 100%;
}
h1.movie-title {
  font-size: 32px;
  margin-bottom: 30px;
}
.detail-top-section {
  background: rgba(218,215,214,0.91);
}
.detail-bottom-section {
  /*background: rgba(252,252,252,0.92);  */
  background: rgba(218,215,214,0.95);
  padding-bottom: 50px;
}
/*.detail-bottom-section h2 {
  font-size: 28px;
}*/
img#watch_later {
  height: 48px;
  width: 48px;
}
.relative-content img#play_icon {
  left: 45%;
  height: 60px;
  position: absolute;
  top: 44%;
  width: 60px;
}
.movie-info {
  font-size: 22px;
}
.player_section, .player_desc_section {
  float: left;
  width: 48%;
}
.player_section {
  margin-right: 2%;
  position: relative;
}
.player_desc_section {
  margin-left: 2%;
}

.player_desc_section ul.play_feature2 li:first-child img {
  width: 25px;
}
.player_desc_section ul.play_feature2 li:nth-child(2) img {
  width: 30px;
}
.player_desc_section ul.play_feature2 li:last-child img {
   width: 24px;
}
.player_desc_section .play_feature2 img {
  height: 24px;
  width: 24px;
}
.player_desc_section ul {
  float: left;
  width: 100%;
}
.player_desc_section .play_feature2 {
  float: right;
  position: relative;
  width: auto;
}
.player_desc_section ul li {
  float: left;
}
.player_desc_section ul li a, .player_desc_section ul li a:hover {
  color: #9e9e9e;
  text-decoration: none;
}
.player_desc_section ul.play_feature1 li {
  border-right: 1px solid #000;
  color: #000;
  font-size: 0.875em;
  line-height: 1em;
  padding: 0px 5px;
}
.player_desc_section ul.play_feature1 li:first-child {
  padding-left: 0px;
}
.player_desc_section ul.play_feature1 li:last-child {
  border-right: 0px;
  padding-right: 0px;
}
.player_desc_section ul.play_feature2 li {
  margin-right: 20px;
}
.full_desc {
  display: none;
}
.desc_show_more_icon, .desc_show_less_icon {
  height: 10px;
  width: 15px;
}
.desc_show_less_icon {
  display: none;
  transform: rotate(180deg);
}

.player_desc_section .share_feature {
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  /*box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);*/
  display: none;
  padding-left: 17px;
  padding-right: 14px;
  position: absolute;
  right: 20px;
  top: 65px;  
  /*width: 178px;*/
  width: auto;
}
input#copy_link {
  border: 0px;
  height: 1px;
  width: 1px;
}
.copied_message_wrap {
  display: none;
}
#copied_message {
  bottom: -20px;
  display: -webkit-flex;
  justify-content: flex-end;
  margin-right: 10px;
  position: absolute;
  width: calc(100% - 20px);
}
.player_desc_section p.txt-success {
  color: #9FCF5F;
}

.player_desc_section .share_feature:before {
  content: "";  
  box-sizing: border-box;
  border: 0.5em solid black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-color: transparent transparent #fff #fff;
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.125);
  height: 0;
  position: absolute;
  right: 0px;
  transform-origin: 0 0;
  transform: rotate(135deg);
  top: 0;
  width: 0;
}
.player_desc_section .share_feature .arrow_left {
  border-bottom: 10px solid #e2e2e2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: none;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -10px;
  right: 5px;
}
.player_desc_section .share_feature li img {
  height: 24px;
}
.player_desc_section ul.play_feature2 .share_feature li {
  margin-right: 15px;
}
.player_desc_section h2 {
  line-height: 0.875em;
}
.player_desc_section ul.play_feature2 li span {
  display: block;
  font-size: 0.6875em;
  margin-top: 10px;
}
.player_desc_section p {
  color: #666;
  font-family: 'lato-regular';
  font-size: 0.875em;
  float: left;
  width: 100%;
}
.player_desc_section p strong, .player_desc_section p b {
  font-family: 'condensed-bold';
}
.detail-page-bottom-section-bg {
  background-color: #F2F2F2;
  float: left;
  width: 100%;
}
.detail-page-bottom-section-bg .full-width-content .owl-nav {
  top: 34%;
}
.row-show-list .item {
  position: relative;
}
.row-show-list.detail_page .item span.list-tile-title {
  color: #2a2a2a;
  font-size: 0.875em;
  margin-top: 5px;
}
.row-show-list .item .list-tile-duration {
  color: #838383;
  float: left;
  font-size: 0.75em;
  margin: 0px 0px 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.radius-button {
  border: 1px solid #000;
  border-radius: 40px;
  font-size: 0.875em;
  padding: 13px 18px;  
}
.border-radius-40 {
  border-radius: 40px;
}
.black-button {
  color: #000000;
}
#load_more:hover,.load_all_items:hover {
  color: inherit;
}
.load-more-wrap {
  /*display: none;*/
  /*position: fixed;
  bottom: -15px;
  left: calc(50% - 73px);
  z-index: 1;*/
  position: absolute;
  bottom: 10px;
  left: calc(50% - 73px);
  z-index: 1;
}
/* Movie/Show Detail page design ends */


/* Search page design starts */
.tile-box-shadow {
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
}
.tile-box-shadow:hover {
 box-shadow: 1px 1px 10px 1px rgba(0,0,0, 0.3); 
}
.search-page input[type="search"] {
  background-color: #F2F2F2;
  border: 0px;
  color: #666666;
  font-size: 1.5em;
  font-family: 'lato-regular';
  float: left;
  margin-bottom: 5px;
  padding: 13px 30px 13px 15px;
  width: 100%;
}
#user_recent_search li.list-group-item, #user_recent_search li.list-group-item:last-child, #user_recent_search li.list-group-item:first-child {
    border-bottom: 1px solid #f2f2f2;
    border-top: 0px;
    border-bottom-color: #f2f2f2;
}
#user_recent_search a:last-child li.list-group-item {
  border-bottom: 0px;
}
input[type=text]::-ms-clear, input[type=password]::-ms-clear, input[type=search]::-ms-clear, 
input[type="email"]::-ms-clear, input[type="number"]::-ms-clear, input::-ms-clear, input::-ms-reveal {
  display: none;
}
.search-image-wrap {
  float: left;
  padding: 0px 0px;
  position: relative;
  /*width: 60%;*/
  width: 100%;
}
.search-image-wrap img.play-icon {
  left: 45%;
  position: absolute;
  top: 45%;
  width: 32px;
}

.all_channels_live_txt {
  left: unset;
  right: 0;
}
.list-group-flush .list-group-item {  
  color: #000;
  font-size: 0.875em;
}

.search-page input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CCCCCC;
  font-family: 'lato-regular';
  font-size: 24px;
  opacity: 1; 
  position: absolute;
  top: -10px;
}
.search-box-wrap {
  float: left;
  position: relative;
  /*width: 100%;*/
}
.search-box-wrap img {
  position: absolute;
  right: 15px;
  top: 34%;
  width: 14px;
}
#recent-search a.clear {
  font-size: 0.85em;  
}
/* Search page design ends */

/* Login & Register page design ends */

/* Account Details page desgin starts */
.login-page .logo1 {
  height: 132px;
  width: 132px;
}
.login-page .center-content {
  align-items: center;
  display: -webkit-flex;
  height: 100vh;
}
.account_details .pull-left.w-100 {
  position: relative;
}
.account_details a.pull-right {
  font-size: 0.875em;
}
.account_details .fa-circle {
  color: #B11A47;
  font-size: 5px;
  position: absolute;
  top: 8px;
}
.account_details label {
  color: #999;
  font-size: 0.875em;
}
.account_details span {
  color: #666666;
  font-size: 1em;
}
.account_details .label_pwd, .label_pwd {
  letter-spacing: 1px;
  font-size: 1.75em;
  line-height: 0.25em;
}
/* Account Details page desgin ends */

/* Edit Profile page desgin ends */

.profile_active p {
  background: linear-gradient(to right,#D51F53, #F15A22);
  border-radius: 50%;
  color: #fff;
  font-size: 1.875em;
  height: 80px;
  padding-top: 3px;
  width: 80px;
  font-family: 'lato-semibold';
}
.profile_active img.user_icon {
  margin-top: -7px;
  width: 32px;
}
.edit_profile_page .custom-controls-stacked {
  position: absolute;
  right: 0;
}
/* Edit Profile page desgin ends */


/* Manage Profile Page design starts */
.manage_profile_page .profile_item_box b {
  width: calc(100% - 5px);
}
.profile_item_box { 
/*  float: left;
  margin-bottom: 30px;*/
  width: 20%;
}
.profile_item_box a {
  color: #000;
}
.profile_item_box a.link {
  color: #0496DC;
  font-size: 0.875em;
}
.kids_profile p {
  background: linear-gradient(45deg, #77BE56 0%, #66B969 20%, #61B76C 36%, #189CC3 74%, #189CC3 100%);
}
.profile_items .fa.fa-plus {
  color: #999999;
  cursor: pointer;
  font-size: 3em;
  -webkit-text-stroke: 7px white;
  border: 2px dotted #EFEFEF;
  border-radius: 50%;
  padding-top: 16px;
  width: 80px;
  height: 80px;
}
.profile_items #add_profile {
  color: #000;
  cursor: pointer;
}
/* Payment page design starts */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;    
    width: auto;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    border: 1px solid #575757;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #201E1C;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: none;
  background-color: #FAFEFD;  
}
.custom-control-label {
  font-weight: 600;
  padding-left: 35px;
}
.custom-control-label::before {
  background: transparent;
  border-color: #575757; 
  height: 24px;
  left: 0;
  top: 2px;
  width: 24px;
}
.custom-control-label::after {
  color: #212121;
  height: 26px;
  left: 0;
  top: 0px;
  width: 26px;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #212121;
  background: transparent;
  border-color: #fff;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #212121;
  background: transparent;
  border-color: #fff;  
}
.modal {
  background: rgba(0,0,0,0.125);
}

/* Static page container design starts */

.static-container {
  color: #666;
  margin: 0 auto;
  max-width: 585px;
}
.contact-page .static-container {
  max-width: 340px;  
}
.static-container h5 {
  color: #000;
  font-size: 1em;
}
.static-container h6{
  color: #000;
  font-size: 0.925em;
}

.static-container p, .static-container li {
  font-size: 0.875em; 
}
.static-container a.email {
  float: left;
  font-size: 0.975em;
  margin-top: -2px;
}

.static-container select {
  position: relative;
  -webkit-appearance: none;
    -moz-appearance: none;
}
/* Static page container design ends */

/* No items found design starts */
.no-items-found {
  align-items: center;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;    
  height: 100%;
  justify-content: center;
}
/* No items found design ends */

.no-content-wrap {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 114px;
}
#no_search_results_wrap {
  align-items: center;
  display: -webkit-flex;
  height: calc(100% - 75px);
  justify-content: center;
}
.no_content_plans {
  max-width: 340px;
}
.transation_status_page .no-content-wrap {
  max-width: 370px;
  width: 370px;
}
.no-content-wrap img.search-no-results-image {
  width: 166px;
  margin-top: 114px;
  margin-bottom: 30px;
}
#no_search_results_wrap .no-content-wrap img.search-no-results-image {
  margin-top: 0px;
}
.no-content-wrap p {
  color: #666;
  font-size: 0.875em;
}


/* Error message design starts */
label.error, span.hint_txt {
  color: #B11944;
  display: none;
  font-family: 'lato-regular';
  font-size: 1.25em;
  float: left;
  left: 0px;
  width: 100%;
  position: absolute;
  bottom: 12px;
}
span.hint_txt {
  bottom: 24px;
  color: #666;
  display: block;
}

.all_error {
  position: absolute;
  top: 10px;
}
.all_error label.error {
  /*background: #f2f2f2;*/
  position: static;
  /*padding: 9px 0px 7px;  */
  padding: 2px 0px 7px;
}
.welcome_page p {
  color: #666;
  font-size: 14px;
}
.welcome_page_image {
  width: 80px;
}

/* Error message design ends */

/* Spinner design starts */

.spinner {
  align-items: center;
  display: -webkit-flex;
  height: 550px;
  justify-content: center;
  margin: 0 auto;
  max-width: 350px;
}

/* Spinner design ends */


/* player deisgn  starts */
.embed-responsive {
  height: 0;
  padding-bottom: 58%;
}
.init_time .embed-responsive {
  padding-bottom: 56.25%;
}
/* player deisgn  ends */


/* Coming soon popup design starts */

#coming_soon .modal-content h2 {
    background: linear-gradient(to right,#D51F53, #F15A22)!important;
    padding: 0;
    text-align: center;
    display: inline-block;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.coming_soon_content {
  align-items: center;
  display: -webkit-flex;
  justify-content: center;
  min-height: 250px;
}
button:focus {
  outline: 0px;
}

/* Toster message design starts */
.toster-message-wrap {
  display: none;
}
.toster-message {
  /*background: linear-gradient(45deg, #D72554 5%, #D82554 15%, #D92556 30%, #DE2E4D 50%, #F35B34 70%, #F55E33 95%, #F55E32 100%);*/
  background: linear-gradient(to right, #D51E54, #F15A23);
  -webkit-box-shadow: -2px -4px 35px 9px rgba(0,0,0,0.15);
  -moz-box-shadow: -2px -4px 35px 9px rgba(0,0,0,0.15);
  box-shadow: -2px -4px 35px 9px rgba(0,0,0,0.15);
  border-radius: 4px;
  border: 1px solid #d51e54;
  color: #fff;
  display: table;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-top: 11px;
  max-width: 500px;    
}
.reset_password .toster-message {

} 
.toster-message p {
  padding: 0px 20px 0px 10px;
}

.toster-message-small {
  padding-left: 30px!important;
  width: 200px!important;
}
.toster-message .fa {
  display: table-cell;
  font-size: 3em;
  vertical-align: middle;
}
.toster-message img {
  display: table-cell;
  margin-right: 0px;
  margin-top: 3px;  
  vertical-align: middle;
  width: 40px;
}
.toster-message p {
  display: table-cell;
  font-size: 1.15em;
  margin-bottom: 0px; 
  vertical-align: middle; 
}
.toster-message p span {
  color: #fff;
  float: left;
  font-size: 100%;
  margin-top: -5px;
}
/* Toster message design ends */

/* Watchlist page design starts */
.watchlist-page .row-show-list .item .list-tile-duration, #continue-watching-carousel .text-ellipsis {
  width: calc(100% - 30px);
}
.watchlist-page img.remove {
  width: 11px;
  cursor: pointer;
}

/* Watchlist page design ends */

/* Settings page design starts */

.settings_page ul li {
  padding: 12px 0px;
}
.settings_page li .fa {
  color: #999999;
  font-weight: 600;
}
/* Settings page design ends */

/* Create PIN page design starts */

.create-pin-page span {
  font-size: 0.875em;
}

/* Create PIN page design ends */

/* Clear History popup design ends */

#verify_code_error{
  bottom: -33px;
}
.head-right ul li.tv_highlighted img{
   width: 48px;
}
.head-right ul li.tv_highlighted span{
  color: #fff;
  font-size: 0.675em;
  display: none !important;
}

div#watch_later_pop, div#copy_link_pop, div#remove_continue_watching_pop {
  position: absolute;
  top: 60px;
  width: 85%;
}
div#remove_continue_watching_pop, div#reset_password_email, div#reset_password, {
  top: 6%;
  width: 92%;
  z-index: 1;
  position: absolute;
}

#continue-watching-title{
  background: linear-gradient(to right,#D51E54, #F15A23);
}
#player_subscription_pop .custom-gradient.text-center, #player_login_pop .custom-gradient.text-center {
  display: -webkit-flex;
  justify-content: center;    
}
#player_subscription_pop .custom-gradient .radius-button, #player_login_pop .custom-gradient .radius-button {
  padding: 5px 12px 6px;
}
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* thumbnail height style starts */

.details_episode_horizontal_title span.list-tile-title {  
  bottom: 17px;
  left: 0px;
  margin-left: 10px;
  position: absolute;
}
.details_episode_horizontal_title span.list-tile-duration {
  bottom: 0px;
  left: 0px;
  margin-left: 10px!important;
  position: absolute;
}
.details_episode_horizontal_title span.list-tile-duration2 {
  left: 18px;
}
.details_shows_horizontal_title span.list-tile-title, .horizontal_title span.list-tile-title {
  bottom: 0px;
  position: static;
}
.owl-carousel .owl-item .item.vertical, .boxslide-wrap .item.vertical {
  min-height: calc((100vw - 35px)/ 6.5 * 1.18);
}
.owl-carousel .owl-item .item.see-all.vertical, .boxslide-wrap .item.see-all.vertical,  
.boxslide-wrap .item.see-all.vertical a {
  /*height: calc((100vw - 35px)/ 6.425 * 1.5);*/
  /*height: 436px;*/
}
.boxslide-wrap.event_layout .item.see-all  {
  /*height: calc((100vw - 35px)/ 6.425 * 1.5);*/
  /*height: 197px;*/
}
.all_movie_vertical .item {
  min-height: calc((100vw - 35px)/ 7.85);
}
.owl-carousel .owl-item .item.horizontal,  .boxslide-wrap .item.horizontal {
  min-height: calc((100vw - 35px)/ 5.75 * .7);      
}
.owl-carousel .owl-item .item.see-all.horizontal, .boxslide-wrap .item.see-all.horizontal, 
.boxslide-wrap .item.see-all.horizontal a {
  /*height: calc((100vw - 35px)/ 5.55 * .77);      */
  /*height: 260px;*/
  height: 13.5vw;
}
.owl-carousel .owl-item .item.see-all.horizontal.exclusive-item, .boxslide-wrap .item.see-all.horizontal.exclusive-item, 
.boxslide-wrap .item.see-all.horizontal.exclusive-item a {
  /*height: calc((100vw - 35px)/ 4.55 * .77);        */
  /*height: 309px;*/
  height: 13.8vw;
}
#continue-watching-carousel .owl-item .item.horizontal_title {
  min-height: calc((100vw - 35px)/ 5.75 * .57);
}
.owl-carousel .owl-item .item.horizontal_title {
  min-height: calc((100vw - 35px)/ 5.15 * .63);
}
#palying_next_programs.owl-carousel .owl-item .item.horizontal_title {
  min-height: calc((100vw - 35px)/ 5.75 * .7);
}
.owl-carousel .owl-item .item.horizontal_title.show_playing_next {
  min-height: calc((100vw - 35px)/ 5.75 * .55);    
}
.all_show_horizontal_title .item {
  min-height: calc((100vw - 35px)/ 11.6);
}
.details_episode_horizontal_title {
  min-height: calc((100vw - 35px)/ 5.75 * .535);
}
.owl-carousel .owl-item .item.square {
  min-height: calc((100vw - 35px)/ 6.7 * 0.67);
}
.owl-carousel .owl-item .item.square_big_title {
  min-height: calc((100vw - 35px)/ 3.75 * 0.5);
}

.plan_valid_till{
 margin-top: 3px;
}
/* thumbnail height style ends */


.header-section1 {
  background: #fff;
  position: fixed;
  z-index: 11;
}

.modal-dialog {
  min-height: calc(100vh - 0px);
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem auto 2em;
  margin-bottom: 0px;
  overflow: auto;
}
.home_list_title{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.head-right .focusable {
  box-shadow: none;
  padding: 7px 0px;
}
.head-right .focusable.app-btn {
  padding: 7px 10px;
}
.user-box {
  float: left;
  height: 270px;
  margin-left: 15px;
  margin-right: 15px;
  width: 270px;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  text-align: center;
}
h1.user-title {
  color: #000;
  font-size: 28px;
}
.user-box img {
  height: 64px;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 64px;
}
.user-box-last {
  margin-left: 0px;
  margin-right: 0px;
} 
.user-box p {
  color: #BEBEBE;
  font-size: 20px;
}
.pop-container {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 111111111111111;
}
.hide {
  display: none !important;
}
.pop-dialog {
  box-sizing: border-box;
  width: 540px;
  height: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#exit-app-container .pop-dialog {
  width: 640px;
}
.filter_popup_dialog {
  height: auto;
  width: 1050px;
}
#filter_popup img {
  width: 24px;
}
.filter_error {
  color: #E20101;
  display: none;
}
.hover_image {
  display: none;
}
.no_watchlist_image {
  width: 240px;
}

.full-content {
  background-color: #F2F2F2;
  float: left;
  height: 100vh;
  width: 100%;
}
.search-box-wrap {
  width: 80%;
  margin-left: 10%;
}
.search-box-wrap input[type="search"] {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #888;
  font-size: 16px;
  height: 70px;
  margin-left: 15px; 
  padding: 5px 10px;  
  width: 90%;
}

/* Pre-register Static Page style ends */

.otp-verification-page .onboarding-contianer {
  width: 840px;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.8);
  background-size: 200px;
  opacity: .8;
  display: none;
}

.flex-box {
  display: -webkit-flex;
}
.full-width-content.align-content-center {
  display: -webkit-flex;
  flex-wrap: wrap;
  height: calc(100vh - 0px);
}
.plan_box_contaniner {
  max-width: 768px;
  margin: 0 auto;
}
.otp-roku-container {
  margin: 0 auto;
  max-width: 1000px;
}

.detail_col_1 {
  padding-right: 40px;
  width: 48.5%;

}
.detail_col_2{
  width: 51.5%;
}
.detail_head{
  /*font-size: 60px;*/
  font-size: 45px;
  line-height: 50px
}
.detail_meta, .detail_desc {
    /*font-size: 22px;*/
  font-size: 20px;  
}
.detail_desc {
  line-height: 26px;
}
.detail_img{
  border-radius: 4px;
  width: 100%;     
}
.detail_col_1 .app-btn {
  margin-right: 12px;
}
.logout_bg_color{
  background-color: #313131d9;
}
.logout_font_color{
  color: #fdf2f6;
}

#splash_screen img {
  width: 40%;
  height: 40%;
  z-index: 1111;
}
.filtered-item .carousel-meta img {
  width: 22px;
  margin-top: 28px;
  float: right;
}

.loading-wrapper1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}
.loading-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}
.lds-roller {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  z-index: 1050;
}
.lds-roller12 {
  display: none;
  position: fixed;  
  width: 64px;
  height: 64px;
  z-index: 1050;
  left: 72%;
  top: 27%;
}
.lds-roller div, .lds-roller12 div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after, .lds-roller12 div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #D91E25;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1), .lds-roller12 div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after, .lds-roller12 div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2), .lds-roller12 div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after, .lds-roller12 div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3), .lds-roller12 div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after, .lds-roller12 div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4), ..lds-roller12 div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after, .lds-roller12 div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5), .lds-roller12 div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after, .lds-roller12 div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6), .lds-roller12 div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after, .lds-roller12 div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7), .lds-roller12 div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after, .lds-roller12 div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8), .lds-roller12 div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after, .lds-roller12 div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.spinner-wrap {
  background-color:rgba(0,
  0,
  0,
  .7);
  height:100%;
  width:100%;
  position:fixed;
  z-index:99999
}
.spinner12 {
  width:85px;
  height:85px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-34px;
  margin-left:-34px
}
.sk-cube-grid .sk-cube {
  background-image:url(../images/logo.png);
  background-size:85px 85px;
  width:33%;
  height:33%;
  background-color:transparent;
  outline:0;
  border:none;
  float:left;
  -webkit-animation:sk-cubeGridScaleDelay 1.3s infinite ease;
  animation:sk-cubeGridScaleDelay 1.3s infinite ease
}
@keyframes sk-cubeGridScaleDelay {
  0% {
    transform:scale(0)
  }
  40% {
    transform: scale(1)
  }
  80% {
    transform: scale(1)
  }
  100% {
    transform: scale(0)
  }
}
.sk-cube-grid .sk-cube1 {
  background-position:0 0;
  -webkit-animation-delay:.2s;
  animation-delay:.2s
}
.sk-cube-grid .sk-cube2 {
  background-position:50% 0;
  -webkit-animation-delay:.3s;
  animation-delay:.3s
}
.sk-cube-grid .sk-cube3 {
  background-position:100% 0;
  -webkit-animation-delay:.4s;
  animation-delay:.4s
}
.sk-cube-grid .sk-cube4 {
  background-position:0 50%;
  -webkit-animation-delay:.1s;
  animation-delay:.1s
}
.sk-cube-grid .sk-cube5 {
  background-position:50% 50%;
  -webkit-animation-delay:.2s;
  animation-delay:.2s
}
.sk-cube-grid .sk-cube6 {
  background-position:100% 50%;
  -webkit-animation-delay:.3s;
  animation-delay:.3s
}
.sk-cube-grid .sk-cube7 {
  background-position:0 100%;
  -webkit-animation-delay:0s;
  animation-delay:0s
}
.sk-cube-grid .sk-cube8 {
  background-position:50% 100%;
  -webkit-animation-delay:.1s;
  animation-delay:.1s
}
.sk-cube-grid .sk-cube9 {
  background-position:100% 100%;
  -webkit-animation-delay:.2s;
  animation-delay:.2s
}

.settings_col {
  padding: 0px;
  margin: 0px 0px;
  flex: 0 0 13.1%;
  max-width: 13.1%;
}
.settings_col a {       
  background-color: #e5e5e5;
  padding: 12px;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
} 
.settings_row {  
  display: -webkit-flex;
  flex-wrap: wrap;
}
.settings_img {
  float: left;
  width: 60px;
  height:  60px; 
}
.settings_font {
  font-size: 13px;
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #E20101;
  background: transparent;
  border-color: #E20101;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #212121;
}
.nav-tabs .nav-link.active2 {
  border-bottom: 2px solid #E20101;
  background: transparent;
  border-color: #E20101;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #212121;  
}
.nav-tabs {
  border-bottom: 0px;
}
.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active2:focus {
  font-family: 'lato-semibold';
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #E20101;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  box-shadow: none;
}
.nav-tabs .nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}
.channel-logo {
  background: #fff;
  border: 2px solid #eae0e0;
  height: 90px;
  float: left;
  border-radius: 50%;
  width: 90px;
  margin: 5px 20px 20px 0;
  display: -webkit-flex;
  align-items: center;
}
.channel-logo img {
  width: 100%;
}
.channel-name {
  font-size: 24px;
}
.center-align-content2 {
  align-items: center;
}
a.load_more:focus {
  font-size: 20px;
  padding: 10px 40px;
}

.embed-responsive-16by9::before {
  padding-top: 58%;
}

.embed-responsive::before {
  display: block;
  content: "";
}
.init_time .embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}


.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}


.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/*.youtube_player {
  display: none;
}*/
.active_season {
  border-bottom: 3px solid #E20101;
}
.custom-control-input {
  height: 27px;
  width: 25px;
}
.list-content {
  float: left;
  padding-left: 20px;
}
.box {
  display: block !important;
  top: 46%;
  left: 48%;
  position: absolute;
  box-sizing: border-box;
  width: 34px;
  height: 34px;  
}
#moviesectionbox.fullscreen .detail_col_2 {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
#moviesectionbox.fullscreen .thumb_wrapper {
  display: none;
}
#moviesectionbox.fullscreen .embed-responsive {
  padding-bottom: 56.25%;
}
.yt_overlay {  
  height: 100%;
  position: absolute;  
  top: 0;
  width: 100%;
}
.init_time .play, .yt_overlay .yt_play {
  background: url('../../player/skins/image/play.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat; 
}
.init_time .play:focus, .yt_overlay .yt_play:focus {
  background: url('../../player/skins/image/play_focus.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat;   
}
.yt_overlay .yt_pause {
  background: url('../../player/skins/image/pause.svg');
  background-position: 5px 3px;  
  background-repeat: no-repeat;
  background-size: 63%;     
  height: 45px;
}
.yt_overlay .yt_pause:focus {
  background: url('../../player/skins/image/pause_focus.svg');
  background-position: 5px 3px;  
  background-repeat: no-repeat;
  background-size: 63%;     
  height: 45px;  
}
.yt_overlay .yt_replay {
  background: url('../../player/skins/image/replay.svg');
  background-position: 3px 0px;  
  background-repeat: no-repeat;
  background-size: 76%;     
  height: 44px;
  width: 44px;  
}
.yt_overlay .yt_replay:focus {
  background: url('../../player/skins/image/replay_focus.svg');
  background-position: 3px 0px;  
  background-repeat: no-repeat;
  background-size: 76%;     
  height: 44px;
  width: 44px;  
}
.init_time .box {
  left: 49%;
  top: 47%;
}
/*#backward, #forward, #progress-wrap, #time-info, #mute {
  display: none;
}*/
.fullscreen #backward, .fullscreen #forward, .fullscreen #progress-wrap, .fullscreen #time-info, .fullscreen #mute {
  display: block;
}
.yt_overlay p {
  margin-bottom: 0;
}
#backward {
  background: url('../../player/skins/image/fs_10backward.svg');
  background-position: 4px 6px;
  background-size: 76%;
  background-repeat: no-repeat; 
  top: 47%;
  left: 40.75%;
  position: absolute;  
  width: 34px;
  height: 34px;  
}
#backward:focus {
  background: url('../../player/skins/image/fs_10backward_focus.svg');
  background-position: 4px 6px;
  background-size: 76%;
  background-repeat: no-repeat; 
}  
#forward {
  background: url('../../player/skins/image/fs_10forward.svg');
  background-position: 4px 6px;
  background-size: 76%;
  background-repeat: no-repeat; 
  top: 48%;
  left: 56.35%;
  position: absolute;  
  width: 34px;
  height: 34px;  
}
#forward:focus {
  background: url('../../player/skins/image/fs_10forward_focus.svg');
  background-position: 4px 6px;
  background-size: 76%;
  background-repeat: no-repeat; 
}
#progress-wrap {
  margin: 0px 7px;
  bottom: 45px;
  position: absolute;
  width: calc(100% - 14px);
}
#progress-bar{  
  width: 100%;
  height: 20px;  
}
.yt_overlay .progress-handle:focus {
  border: 3px solid #fff;
}
#mute {  
  right: 20px;
  bottom: 4px;
  width: 30px;
  height: 30px;
  position: absolute;
}
#time-info {
  bottom: 10px;  
  left: 20px;
  position: absolute;
}
#time-info, #current-time, #duration {  
  color: #fff;
}
.unmute, .volume_up {
  background: url('../../player/skins/image/volume.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat; 
}
.unmute:focus, .volume_up:focus {
  background: url('../../player/skins/image/volume_focus.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat; 
}
.mute, .volume_off {
  background: url('../../player/skins/image/mute.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat;   
}
.mute:focus, .volume_off:focus {
  background: url('../../player/skins/image/mute_focus.svg');
  background-position: 4px 0px;
  background-size: 76%;
  background-repeat: no-repeat;   
}
.progress {
  background: rgba(255, 255, 255, 0.8)
}
#progress-wrap .current-loaded {
  float: left;
  background: red;
  height: 100%;
}
#progress-wrap .progress-handle {
  width: 16px;
  height: 16px;
  background: #FFD224;
  border-radius: 20px;
  position: absolute;
  top: -5px;
  z-index: 11;
}
.premium{
  border: 0;
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 110px !important;
}
.d-flex, .row, #channel_content .nav {
  display: -webkit-flex;
}
.see_all_page .list_items a {
  position: relative;
}

#movie_play_begin_url, #movie_play_resume_url, #show_play_begin_url, #show_play_resume_url {
  display: none;
}
.subscribe-logo {
  height: 180px;
  width: 180px;
}
.subscribe-page h1, .subscribe-page p  {
  color: #280074;  
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.subscribe-page p {
  color: #000;
}
.subscribe-left-content, .subscribe-right-content {
  padding: 0px 30px;
  width: 50%;
}
.subscribe-left-content {
  border-right: 2px solid #000;
}
.subscribe-left-content img {  
  width: 44px;
}
.subscribe-left-content p, .subscribe-right-content p {
  color: #000;
  font-size: 28px;
  margin-bottom: 55px;
}
.profile-container {
  margin: 0 11%;
}
.profile-container h1 {
  margin-top: 30px;
  margin-bottom: 25px;
}
.profile-container label, .profile-container .form-control-plaintext {
  font-size: 20px;
}
.profile-container .form-control-plaintext  {
  background-color: #F6F6F6;
  padding: 5px 15px;
}
.profile-container p {
  font-size: 18px;
}
.watchlater_page .list_items {
  background: none;
  margin-bottom: 20px;
  width: 18.9%;
}
.watchlater_page .list_items_thumb {
  background: #E5E5E5;
  float: left;  
  position: relative;
  width: 100%;
}
.remove_watchlist img {
  width: 60px;
}
#current_plan, .expires_pack input {
  background-color: #F6F6F6;
  padding: 5px 15px;
}
#free_active_plan {
  /*color: #F6F900;
  color: rgba(253,227,0,1);*/
  color: #E20101;
  font-size: 20px;    
}
.plan-box-wrap {
  margin: 0px -6px;
}
.plan-box {
  border-radius: 5px;
  float: left;
  padding: 0px 3px;
  width: 25%;
  margin-bottom: 30px;
}
.plan-box-head {
  background-color: #26232C;
  border-radius: 8px;
  padding: 30px 26px 30px;
}
.plan-box-head h5 {
  color: #fff;
  font-size: 24px;
  margin-top: 5px;
}
.plan-box-head p {
  color: #ccc;
  font-size: 20px;
  margin-bottom: 16px;
}
.plan-box-body {
  background-color: #342F3E;
  border-radius: 8px;
  padding: 0px 26px 15px;
}
.plan-box-body p.float-left {
  border-bottom: 1px solid #aba1bd;
} 
.plan-box-body p span.text-left {
  color: #aba1bd;
  font-size: 17px;
  float: left;
  margin-bottom: 0;
  padding: 7px 0px;
  width: calc(100% - 90px);
}
.plan-box-body p span.text-right {
  color: #F1F4F3;
  font-size: 17px;  
  float: right;
  padding: 10px 0px;  
  width: 90px;
}
.plan-box-body p span.text-right img {
  width: 32px;
}
.plan-box-body a {
  border: 1px solid #E14A00;
  border-radius: 5px;
  color: #E14A00;
  font-size: 20px;
  padding: 25px 0px;
}
#subs_mobile_text {
  font-size: 24px;
}
@media(min-width: 1751px) {
  .header-section img {
    width: 48px;
  }
  .main-menu {
    width: calc(100% - 250px);
  }  
  .main-menu ul li a {
    font-size: 22px;
    padding: 3px 10px;
  }
  .main-menu ul li {
    margin: 0px 20px;
  }
  .head-right ul li img {
    width: 40px;
  }  
  .page-title, .full-width-content h2, .onboarding-contianer h2, .onboarding-payment-contianer h2, .payment-contianer h2, .static-container h2, .transation_status_page h2 {
    font-size: 28px;
  }
  .carousel-meta .meta-title, .thumb-channel-title {
    font-size: 20px;
  }
  .carousel-meta .meta-info {
    font-size: 18px;
  }
  .thumb-duration-string, .nav-tabs .nav-link {
    font-size: 16px;
    margin-top: 0px;
  }
  .thumb-layer3, .boxslide-wrap .item a:focus .thumb-layer3 {
    bottom: 95px;
  }
  .thumb-carousel .owl-item .item a:focus .thumb-layer3 {
    bottom: 85px;
  }
  .detail_head {
    font-size: 50px;
    line-height: 66px;
  }
  .detail_meta, .detail_desc {
    font-size: 23px;
  }
  .detail_desc, .channel-name {
    line-height: 28px;
  }
  .app-btn {
    font-size: 18px;
    padding: 9px 14px;
  }
  .app-btn-big {
    padding: 9px 44px;
  }
  .settings_col a {
    padding: 15px;
  }
  .settings_p {
    font-size: 20px;
  }
  .settings_font {
    font-size: 15px;
  }
  .login-page .logo1 {
    height: 180px;
    width: 180px;
  }
  .login-page h2 {
    font-size: 64px;
  }
  .login-page h4 {
    font-size: 48px;
  }
  .login-page h5 {
    font-size: 36px;
  }
  .login-page h6, .login-page p {
    font-size: 36px;
  }
  .box, #backward, #forward {
    height: 48px;
    width: 48px;
  }  
  #backward, #forward, #b1 {
    top: calc(50% - 40px);  
  }
  #progress-wrap .progress-handle {
    top: 11px;
  }
  .progress {
    height: 0.5rem;
  }
  #time-info, #current-time, #duration {
    font-size: 18px;
  }
  #mute {
    height: 42px;
    width: 42px;
  }
  #progress-wrap {
    bottom: 60px;
  }
  #time-info {
    bottom: 25px;
  }
  .yt_overlay .yt_pause, .yt_overlay .yt_pause:focus {
    height: 54px;
  }
  .owl-carousel .owl-item .item.see-all.vertical, .boxslide-wrap .item.see-all.vertical, 
  .boxslide-wrap .item.see-all.vertical a  {
    /*height: 437px;    */
    height: 22.75vw;
  }
  .owl-carousel .owl-item .item.see-all.horizontal.exclusive-item, .boxslide-wrap .item.see-all.horizontal.exclusive-item,
  .boxslide-wrap .item.see-all.horizontal.exclusive-item a {
    /*height: 330px;*/
    height: 17.25vw;
  }
  .boxslide-wrap.event_layout .item.see-all, .boxslide-wrap.event_layout .item.see-all a  {
    /*height: 230px;*/
    height: 12.1vw;
  }


}
@media(max-width: 1750px) {
  /*.main-menu ul {
    padding-left: 7%;
  }*/
  .main-menu ul li {
    margin: 0px 10px;
  }
  .main-menu ul li a {
    font-size: 16px;
  }
  .main-menu .fa-search {
    font-size: 20px;
  }
  #banner-carousel .banner-title {
    bottom: 35px;
    font-size: 40px;
  }
  .banner-channel {
    bottom: 10px;
    font-size: 24px;
  }
  .boxslide-wrap.horizontal_layout, .boxslide-wrap.event_layout {
    width: 22%;
  }
  .boxslide-wrap.vertical_layout {  
    width: 17.3%;
  }
  .boxslide-wrap.exclusive_layout {  
    width: 29.5%;
  }
  .list_items {
    width: 23.9%;
  }
  .list_items.vertical {
    width: 18.9%;
  }
  .list_items.vertical img {
    max-width: 100%;
  }
  .channel-logo {
    height: 60px;
    width: 60px;    
  }  
  .detail_col_1 {
    padding-right: 30px;
  }
  .detail_col_1 .app-btn-big {
    padding: 7px 19px;
  } 
  .login-page .center-content .pb-5 {
    padding-bottom: 36px !important;
  }
  .login-page .center-content .p-3 {
    padding: 12px !important;
  }
  .login-page .center-content .p-4 {
    padding: 16px !important;
  }
  .login-page .center-content .mb-4 {
    margin-bottom: 12px !important;
  }
  .login-page .center-content .mb-3 {
    margin-bottom: 10px !important;
  }
  .login-page .center-content .pt-2 {
    padding-top: 4px !important;
  }
  .login-page .center-content .pb-2 {
    padding-bottom: 4px !important;
  }
  .channel-name {
    font-size: 20px;
  }
  .login-page h2 {
    font-size: 44px;
  }
  .login-page h4 {
    font-size: 32px;
  }
  .login-page h5 {
    font-size: 28px;
  }
  .login-page h6, .login-page p {
    font-size: 24px;
  }
  .owl-carousel .owl-item .item.see-all.vertical, .boxslide-wrap .item.see-all.vertical, .boxslide-wrap .item.see-all.vertical a {
    /*height: calc((100vw - 35px)/ 5.4 * 1.5);      */
    /*height: 350px;*/
    height: 27.25vw;
  }
  .owl-carousel .owl-item .item.see-all.horizontal, .boxslide-wrap .item.see-all.horizontal, 
  .boxslide-wrap .item.see-all.horizontal a {
    /*height: calc((100vw - 35px)/ 4.4 * 0.78);      */
    height: 17.2vw;
    /*height: 220px;*/
  }
  #continue_watch_content .boxslide-wrap .item.see-all.horizontal, 
  #continue_watch_content .boxslide-wrap .item.see-all.horizontal a {
    height: 17.55vw;    
  }
  .owl-carousel .owl-item .item.see-all.horizontal.exclusive-item, .boxslide-wrap .item.see-all.horizontal.exclusive-item,
  .boxslide-wrap .item.see-all.horizontal.exclusive-item a {
    /*height: calc((100vw - 35px)/ 3.56 * 0.78);      */
    /*height: 272px;*/
    height: 21vw;
  }
  .boxslide-wrap.event_layout .item.see-all, .boxslide-wrap.event_layout .item.see-all a {
    /*height: 194px;*/
    height: 15.35vw;
  }
  #backward, #forward {
    top: calc(50% - 35px);  
  }
  #b1 {
    top: calc(50% - 32px);    
  }
  #progress-wrap .progress-handle {
    top: 11px;
  }
  #time-info {
    bottom: 15px;
  }

  .subscribe-logo {
    height: 148px;
    width: 148px;
  }
  .subscribe-page h1, .subscribe-page p {
    font-size: 42px;
    margin-bottom: 16px;
  }
  .subscribe-left-content p, .subscribe-right-content p {
    font-size: 23px;
    margin-bottom: 36px;
  }
  .profile-container h1 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .profile-container label, .profile-container .form-control-plaintext {
    font-size: 18px;
  }
  /*.profile-container p {
    font-size: 16px;
  }*/
  .remove_watchlist img {
    width: 48px;
  }
  .subscribe-left-content img {
    margin-right: 10px !important;
    width: 30px;
  }
  #free_active_plan {
    font-size: 18px;
  }
  .plan-box-head {
    padding-top: 20px;
  }
  .plan-box-head h5 {
    font-size: 24px;
  }
  .plan-box-body {
    padding: 0px 16px 15px
  }
  .plan-box-head p, .plan-box-body p span.text-left , .plan-box-body p span.text-right {
    font-size: 14px; 
  }
  .plan-box-body a {
    font-size: 16px;
  }
  .plan-box-body p span.text-left {
    width: calc(100% - 80px);
  }
  .plan-box-body p span.text-right {
    width: 80px;
  }
  .plan-box-body p span.text-right img {
    width: 26px;
  }
  .plan-box-body p.float-left {
    border-bottom: 1px solid #aba1bd;
  }
  .plan-box-body a {
    padding: 18px 0px;
  }
  #subs_mobile_text {
    font-size: 20px;
  }
}

.boxp {
  border: 1px solid red;
  display: inline-block;
  margin-right: 15px;
  height: 150px;
  width: 20%;
}
.boxp  a {
  float: left;
  width: 100%;
}
.like_vid{
  width: 25px;  
  height: 25px; 
  padding-bottom: 5px;
}
.see_all_item{
  /* height: 95% !important;
  width: 50% !important;
  margin: 2px 25%; */
  height: 65% !important;
    width: 40% !important;
    margin: 10% 25%;
}

